.create-event-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.description-textbox {
  height: 150px;
}

.form-group {
  margin-bottom: 15px; /* Add spacing between input boxes */
}
