.admin-table {
  border-collapse: collapse;
  margin: 30px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.admin-table thead tr {
  background-color: #2f4550;
  color: #f4f4f9;
  text-align: center;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.admin-table tbody tr {
  border-bottom: 1px solid #b8dbd9;
}

.admin-table tbody tr.main-row:nth-of-type(even) {
  background-color: #ffffff;
}
.admin-table tbody tr.main-row:nth-of-type(odd) {
  background-color: #f4f4f9;
}
.admin-table tbody tr:last-of-type {
  border-bottom: 2px solid #b8dbd9;
}

.play {
  margin: 190px 190px;
  font-size: 170px;
  cursor: pointer;
}

.reservations-data {
  max-height: 0;
  overflow: hidden;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  table-layout: fixed;
  width: 106%;
}

.reservations-data-open {
  max-height: 500px;
}
.reservations-data tbody tr {
  background-color: #ffffff;
}

.reservations-data thead tr {
  background-color: #2f4550;
  color: #f4f4f9;
  text-align: center;
  font-weight: bold;
  max-height: 0;
  opacity: 7;
  overflow: hidden;
}

.reservations-data tbody tr {
  border-bottom: 1px solid #b8dbd9;
}

.reservations-data tbody tr:last-of-type {
  border-bottom: 2px solid #b8dbd9;
}

.text-center {
  text-align: center;
}

.reservations,
.table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}
.meals-table {
  flex: 1;
}
