.create-btn {
  perspective: 1000px;
  width: 66px;
  height: 35px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.create-btn .qube {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  border: 1px solid #d6d6e7;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: box-shadow 0.25s, transform 0.25s;
}

.create-btn .qube .front,
.create-btn .qube .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.create-btn .qube .front {
  background-color: #f4f4f9;
  color: #060606;
}

.create-btn .qube .back {
  background-color: #f4f4f9;
  color: #191919;
  transform: rotateX(180deg);
}

.create-btn:hover .qube {
  transform: rotateX(180deg);
}

.update-btn {
  perspective: 1000px;
  width: 66px;
  height: 35px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.update-btn .qube {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #b8dbd9 0 -3px 0 inset;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.update-btn .qube .front,
.update-btn .qube .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.update-btn .qube .front {
  background-color: #b8dbd9;
  color: #060606;
}

.update-btn .qube .back {
  background-color: #ecf2ed56;
  color: #191919;
  transform: rotateX(180deg);
}

.update-btn:hover .qube {
  transform: rotateX(180deg);
}
.delete-btn {
  perspective: 1000px;
  width: 66px;
  height: 35px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.delete-btn .qube {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #586f7c 0 -3px 0 inset;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.delete-btn .qube .front,
.delete-btn .qube .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.delete-btn .qube .front {
  background-color: #586f7c;
  color: #060606;
}

.delete-btn .qube .back {
  background-color: #ecf2ed56;
  color: #191919;
  transform: rotateX(180deg);
}

.delete-btn:hover .qube {
  transform: rotateX(180deg);
}
